@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'New Tegomin', Times, serif;
}
body {
    background: linear-gradient(180deg, #000022 0%, rgba(255, 255, 255, 0) 100%), rgba(0, 34, 102, 0.8);
}
main {
    width: 100%;
    height: 100vh;
}
#menu {
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 90vh;
    position: fixed;
    top: 5vh;
    right: 0vw;
    background: #002266;
    opacity: 0.6;
    border-radius: 35px 0px 0px 35px;
}
#menu ul li {
    list-style-type: none;
    font-size: 1em;
    text-align: center;
    color: white;
}
#menu ul li figure a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#menu ul li figure a:hover{
    color: #4CD2FC;
}
#container-primary{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    background-image: url('./asset/castle.png');
    background-attachment: fixed;
    user-select: none;
}
#container-primary figure img{
    margin-top: 10%;
    border: 2px solid gray;
    border-radius: 100%;
}
#cloud{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#content{
    position: absolute;
    z-index: 100;
}
#content p{
    margin-top: 10vh;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: black;
    box-shadow: inset 0 0 2px rgba(0, 0, 34, 0.616)
}
::-webkit-scrollbar-thumb{
    border: 1px solid #002266;
    background-color: rgba(76, 211, 252, 0.76);
}
.cloud1{
    position: absolute;
    top: 10;
    left: 0;
    max-width: 600px;
    z-index: 1000;
    animation: animateCloud 60s linear infinite;
}
.cloud2{
    position: absolute;
    top: 20;
    left: 0;
    max-width: 500px;
    z-index: 1000;
    animation: animateCloud 45s linear infinite;
}
.cloud3{
    position: absolute;
    top: 30;
    left: 0;
    max-width: 600px;
    z-index: 1000;
    animation: animateCloud 80s linear infinite;
}
.cloud4{
    position: absolute;
    top: 220px;
    left: 0;
    max-width: 300px;
    z-index: 1000;
    animation: animateCloud 70s linear infinite;
    animation-delay: -22s;
}
.cloud5{
    position: absolute;
    top: 180px;
    left: 0;
    max-width: 500px;
    z-index: 1000;
    animation: animateCloud 50s linear infinite;
    animation-delay: -7s;
}
.cloud6{
    position: absolute;
    top: 75px;
    left: 0;
    max-width: 400px;
    z-index: 1000;
    animation: animateCloud 30s linear infinite;
    animation-delay: -12s;
}
@keyframes animateCloud {
    0%{
        transform: translateX(-100%) scale(1);
    }
    100%{
        transform: translateX(400%) scale(1.5);
    }
}