#container-tertiary{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000022;
    padding: 5vw;
}
#container-tertiary figure{
    width: 40vw;
}
#container-tertiary figure img{
    width: 100%;
}
#container-tertiary #ball01{
    animation: ball01 infinite linear 6s alternate;  
}
#container-tertiary #ball02{
    animation: ball02 infinite linear 8s alternate;  
}
#container-tertiary #ball03{
    animation: ball03 infinite linear 6s alternate;  
}
#container-tertiary #ball04{
    animation: ball04 infinite linear 10s alternate;  
}
@keyframes ball01 {
    0% {transform: rotate(360deg) scale(1) translate(4vw, 6vh)}
    20% {transform: rotate(360deg) translate(-10vw, 20vh)}
}
@keyframes ball02 {
    0% {transform: translate(0vw, 20vh) rotate(360deg) scale(1.2)}
    20% {transform: translate(20vw, -10vh) rotate(360deg)}
}
@keyframes ball03 {
    0% {transform: translate(20vw, -20vh) rotate(360deg) scale(1.2)}
}
@keyframes ball04 {
    0% {transform: translate(0vw, 20vh) rotate(360deg) scale(1.2)}
}